/***** BASE STYLES *****/

body {
    font-family: 'Rajdhani', sans-serif;
    max-width: 1200px;
    margin: auto;
}

a {
    color: #0556C3;
    text-decoration: none;
}

p {
    font-size: 20px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 22px;
}

h3 { 
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    clear: left;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 30%;
    float: left;
}


/***** HEADER *****/

header {
    height: 675px;
    width: 1200px;
    background: url(../img/banner.jpeg);
    background-size: cover;
}

header h1 {
    font-size: 105px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding-top: 200px;
    padding-bottom: 0px;
    margin: 0;
    text-shadow: 6px 0px #0556C3;
}

header h2 {
    color: #A0B8D8;
    background: #0556C3;
    text-align: right;
    padding-right: 200px;
    padding-top: 0px;
    margin: 0;
}

nav {
    float: right;
    margin-right: 200px;
    height: 30px;
}

nav ul {
    margin-top: 7px;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 3px;
    padding: 0px 6px;
}

#site-nav li {
    background: white;
}

#icons {
    float: right;
}

#icons li {    
    background: white;
    padding-top: 7px;
}

 
.icon-link {
    color: orangered;
}


/***** PORTFOLIO *****/

#portfolio {
    float: left;
}

#portfolio img, #profile img {
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#portfolio h4, #portfolio p {
    padding-right: 90px;
}

#portfolio h4, #profile h4 {
    margin-top: 0px;
}


/***** PROFILE *****/

#profile {
    float: left;
    background: #A0B8D8;
    padding-bottom: 30px;
}

#profile ul, #profile p {
    padding-right: 90px;
}

#profile h3, h4 {
    color: white;
}

#profile h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#profile p, ul {
    margin-top: 0px;
}

#profile ul {
    font-size: 18px;
}

/***** CONNECT *****/

#connect {
    float: left;
    background: #0556C3;
    color: white;
}

#connect ul {
    text-align: center;
    padding-left: 0px;
}

#connect ul li {
    display: inline-table;
    font-size: 26px;
    padding: 0px 20px;
}

#connect a {
    color: white;
}

/***** FOOTER *****/

footer {
    clear: both;
}

footer h5, h6 {
    text-align: right;
    margin: 0px;
    font-weight: bolder;
}

footer span {
    color: orangered;
    font-family: 'Prompt', sans-serif;
}