/***** BASE STYLES *****/

body {
    font-family: 'Rajdhani', sans-serif;
    max-width: 1200px;
    margin: auto;
}

a {
    color: #0556C3;
    text-decoration: none;
}

p {
    font-size: 15px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}


/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    clear: left;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 30%;
    float: left;
}


/***** HEADER *****/

header {
    height: 675px;
    width: 1200px;
    background: url(../img/banner.jpeg);
    background-size: cover;
}

header h1 {
    font-size: 105px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding-top: 200px;
    padding-bottom: 0px;
    margin: 0;
    text-shadow: 6px 0px #0556C3;
}

header h2 {
    color: #A0B8D8;
    background: #0556C3;
    text-align: right;
    padding-right: 200px;
    padding-top: 0px;
    margin: 0;
}

nav {
    float: right;
    margin-right: 200px;
    height: 30px;
}

nav ul {
    margin-top: 7px;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 3px;
    padding: 0px 6px;
}

#site-nav li {
    background: white;
}

#icons {
    float: right;
}

.icon-link {
    color: orangered;
}

/***** MAIN *****/

#profile .half-width{
    padding: 20px;
    
}

/***** BOTTOM SECTION *****/



/***** FOOTER *****/

